/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/
:root {
    --main__color: #ffffff;
}

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
    box-sizing: border-box;
}

a {
    color: #000;
}

body {
    font: 400 16px/21px 'PT Sans', 'Inter', 'sans-serif';
    color: #030303;
}

a {
    text-decoration: none;
}

input,
textarea {
    background-color: inherit;
    resize: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

h1,
.title1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}

h2,
.title2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 25px;
}

h3,
.title3 {
    font-size: 20px;
    line-height: 19px;
    font-weight: 700;
}

h4,
.title4 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

h5,
.title5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

h6,
.title6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.btn--check, .btn--cross {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    transition: all 0.3s cubic-bezier(0,.99,.51,.53);
}
.btn--check{
    background-color: #000;
    color: #fff;
}

.btn--cross {
    background-color: transparent;
    color: #C4C4C4;
}

/*HEADER*/
.header {
    background-color: var(--main__color);
}

.header__body {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__item + .header__item {
    margin-left: 20px;
}

.header__link:last-child {
    display: flex;
    align-items: center;
}

.header__link {
    color: #000;
}

.fa-angle-down {
    font-size: 10px;
    margin-left: 5px;
}

.header__profile {
    display: flex;
}

/*Onclick header list*/
.header__onclick-list {
    display: none;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.header__onclick-item + .header__onclick-item {
    margin-top: 10px;
}

.header__notification {
    cursor: pointer;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header__bell {
    font-size: 20px;
}

.header__user {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 50px;
    background-color: #073937;
    border: 1px solid #073937;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.burger__line {
    position: absolute;
    top: 45%;
    left: 15px;
    width: 15px;
    height: 1.5px;
    background-color: #fff;
    border-radius: 20px;
}

.burger__line::before , 
.burger__line::after {
    content: '';
    position: absolute;
    left: 0px;
    background-color: #fff;
    height: 1.5px;
    width: 15px;
    border-radius: 20px;
}
.burger__line::before {
    top: 5px;
}
.burger__line::after {
    bottom: 5px;
}

.fa-circle-user {
    font-size: 30px;
}

/*Burger menu ONCLICK*/
.header__burger-menu {
    display: none;
    padding: 10px;
    box-shadow: 0px 4px 9px #0000001f;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.header__burger-item + .header__burger-item  {
    margin-top: 15px;
}

.header__burger-item:nth-child(3) {
    padding-bottom: 15px;
    border-bottom: 1px solid #A1A1A1;
}

/*notifications SECTION*/
.notifications {
    background: linear-gradient(90deg, #014872 0%, #A0EACF 120.28%);
    padding: 80px 0 30px 0;
}

.notifications__title {
    color: #fff;
}
.notifications__row {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
}

.notifications__card {
    padding: 40px 110px 90px 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notifications__card-title {
    margin-bottom: 10px;
}
.notifications__subtitle {
    color: #6C6C6C;
}
.notifications__all {
    text-align: end;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}

/*Welcome SECTION*/
.welcome {
    padding: 100px 0;
}

.welcome__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.welcome__card {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}

.welcome__img {
    width: 100%;
}

.welcome__card-name {
    position: absolute;
    bottom: -60px;
    left: 0;
    background-color: #262626;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 24px 60px;
}

.objects {
    padding: 20px 0;
}

.objects__card-titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    padding: 0 30px;
}

.objects__data-name {
    font-size: 12px;
    color: #767676;
    text-decoration: underline;
}

.fa-calculator {
    font-size: 10px;
    vertical-align: middle;
    margin-right: 5px;
}

.fa-sliders {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.objects__wrappper-card{
    border-top: 1px solid #C4C4C4;
}

.objects__card {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.objects__wrappper-card:last-child {
    border-bottom: 1px solid #C4C4C4;
}

.objects__img-name {
    margin-top: 10px;
}
.objects__status {
    text-align: center;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 45px;
    padding: 5px 30px 5px 10px;
    background: url(/images/chevron.svg) no-repeat;
    background-position: calc(100% - 15px) 50%;
}
.objects__price {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.objects__edit {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}

.news {
    padding: 70px 0 200px 0;
    background-color: #0C0C0C;
    color: #fff;
}

.news__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.news__item {
    display: flex;
    flex-direction: column;
}

.news__img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.news__link {
    color: #fff;
}
.news__item-name {
    width: 100%;
    padding: 30px 65px 30px 20px;
    background-color: #262626;
    border-radius: 0px 0px 10px 10px;
}

.footer {
    padding: 80px 0 40px 0;
    background: #F6F8FA;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.footer__lists {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.footer__list + .footer__list {
    margin-left: 200px;
}

.footer__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #030303;
    margin-bottom: 30px;
}
.footer__item {
    color: #030303; 
    opacity: 0.6;
    margin-top: 20px;
}

.footer__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author {
    color: #030303;
    opacity: 0.6;
}

.calendary {
    padding: 40px 0;
}

.calendary__body {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;
}

.calendary__data-block {
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;;
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 15px 15px 45px 30px;
}

.calendary__main-year {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
}

.calendary__main-year > .fa-angle-down {
    font-size: 25px;
}

.calendary__number {
    display: inline-block;
    margin-right: 30px;
}

.calendary__number select , .calendary__mounth select {
    appearance: none;
    padding: 10px 15px;
    border: 0.5px solid #073937;
    border-radius: 10px;
    background: url(/images/chevron.svg) no-repeat;
    background-position: calc(100% - 10px) 50%;
}

.calendary__mounth {
    display: inline-block;
}

.calendary__days {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
}

.calendary__item-box {
    cursor: pointer;
    border: 0.5px solid #C4C4C4;
    width: 100%;
    color: #606060;
    padding: 10px 15px;
}

.calendary__item-box:hover {
    background-color: #dddddd;
}

.calendary__num {
    margin-bottom: 50px;
}

.calendary__price {
    color: #030303;
}

.calendary__info {
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;;
    border-left: 1px solid #c4c4c4;
    grid-column: 3/4;
    grid-row: 1/3;
}

.calendary__first-block,.calendary__second-block,.calendary__third-block,.calendary__fouth-block {
    border-bottom: 1px solid #C4C4C4;
    padding: 30px 17px 30px 17px;
}

.calendary__first-block {
    padding: 88px 10px 60px 20px;
}

.calendary__fouth-block {
    padding-bottom: 17px;
}

.calendary__today-title {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 37px;
}

.calendary__wrap-isfree {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendary__btn-cross {
    margin-right: 10px;
}

.calendary__price-title {
    margin-bottom: 19px;
}

.calendary__price-selected {
    border: 0.5px solid #073937;
    border-radius: 10px;
    padding: 10px 15px;
}

.calendary__settings-title {
    margin-bottom: 5px;
}

.calendary__settings-text {
    font-size: 10px;
    color: #8B8B8B;
    line-height: 10px;
    margin-bottom: 30px;
}

.calendary__settings-mobile {
    display: none;
}

.calendary__week-day {
    padding-left: 10px;
    color: #606060;
}

.calendary__week-day:first-child {
    border-left: 1px solid #c4c4c4;
}

.calendary__settings-btn {
    cursor: pointer;
    padding: 15px 20px;
    border: 0.5px solid #073937;
    border-radius: 10px;
}

.calendary__hide-title {
    margin-bottom: 10px;
}

.calendary__add {
    text-decoration: underline;
    font-size: 15px;
    line-height: 17px;
    color: #222222;
}

/*NEW PAGE MESSAGE*/
.message__burger {
    display: inline-block;
    position: relative;
}

.messages__burger-line {
    position: absolute;
    top: 45%;
    left: 15px;
    width: 15px;
    height: 2.5px;
    background-color: #000;
    border-radius: 20px;
}

.messages__burger-line::before , 
.messages__burger-line::after {
    content: '';
    position: absolute;
    left: 0px;
    background-color: #000;
    height: 2.5px;
    width: 15px;
    border-radius: 20px;
}
.messages__burger-line::before {
    top: 5px;
}
.messages__burger-line::after {
    bottom: 5px;
}

/*FOR MOBILE OBJECTS*/
.objects__information-mobile {
    display: none;
}
.objects__information-wrap-status {
    display: flex;
    justify-content: space-between;
}
.objects__information-wrap-price {
    display: flex;
    justify-content: space-between;
}
.objects__information-settings {
    display: flex;
    justify-content: space-between;
}
.objects__information-setting-tags {
    display: flex;
}
.objects__information-setting-tag {
    margin-right: 10px;
    padding: 10px;
    background: #F3F3F3;
    border-radius: 50px;
}
.objects__information-setting-tag:last-child {
    margin-right: 0;
}
.objects__information-price-date {
    font-size: 8px;
    text-decoration: underline;
}
.objects__information-title {
    margin-bottom: 25px;
}
.objects__information-this-price {
    font-size: 20px;
    color: #014872;
}
